@import 'variables.css';

.ethereum-logo {
  background-color: var(--darkGray);
  border: none;
  color: #87cefa;
  flex: 60 60 auto;
  font-size: 25px;
  height: 60px;
  outline: 0;
  width: 60px;
}