@import 'variables.css';

.spacer-1 {
  background-color: var(--darkGray);
  border: none;
  color: var(--white);
  flex: 60 60 auto;
  font-size: 25px;
  height: 32px;
  outline: 0;
  width: 177px ; 
}
