@import 'variables.css';

.tool {
  background-color: var(--darkGray);
  border: none;
  color: var(--white);
  flex: 60 60 auto;
  font-size: 25px;
  max-height: 60px;
  outline: 0;
  width: 60px;
}

.tool:hover {
  background-color: var(--midGray);
  cursor: pointer;
}
